<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<div class="title-separator" ng-click="editionMode($event, null)">{{title}}</div>

<div ng-repeat="sensor in sensors">
    <div class="sensor-widget" ng-if="!sensor.template">
        <span class="sensor-name">{{sensor.name}}</span>
        <span class="sensor-info">
            <i class="fa fa-fw fa-info-circle" popover-trigger="'mouseenter'"
                popover-title="{{sensor.name}}"
                uib-popover-template="'blueprint-composer/component/sensors-list/sensor-info.html'"
                popover-class="spec-editor-popover" popover-placement="top-right" popover-append-to-body="true"></i>
        </span>
    </div>
    <div class="sensor-widget" ng-if="sensor.template" ng-click="editionMode($event, sensor)">
        <span class="sensor-name" title="Click to edit sensor" ng-if="editionName != sensor.template['brooklyn.config'].name">{{sensor.template['brooklyn.config'].name}}</span>
        <div ng-if="editionName == sensor.template['brooklyn.config'].name">
            <div class="edit-sensor-button pull-right">
                <i class="fa fa-fw fa-trash" title="Delete sensor" ng-click="delete($event, sensor)"></i>
                <i class="fa fa-fw fa-times" title="Close selected sensor" ng-click="editionMode($event, null)"></i>
            </div>
            <span>
                <label for="sensor-edition-name" class="label-spec-configuration ">Name</label>
                <input id="sensor-edition-name" ng-model="sensor.template['brooklyn.config'].name" ng-change="updateSensorYaml(sensor)" type="text" 
                    class="form-control"/>
            </span>
            <span>
                <label for="sensor-edition-description">Description</label>
                <textarea id="sensor-edition-description" ng-model="sensor.template['brooklyn.config'].description" ng-change="updateSensorYaml(sensor)" 
                    class="form-control" auto-grow></textarea>
            </span>
            <span>
                <label for="sensor-edition-targetType">Return type</label>
                <input id="sensor-edition-targetType" ng-model="sensor.template['brooklyn.config'].targetType" ng-change="updateSensorYaml(sensor)" type="text"
                    class="form-control"/>
            </span>
            <span>
                <label for="sensor-edition-period">Period</label>
                <input id="sensor-edition-period" ng-model="sensor.template['brooklyn.config'].period" ng-change="updateSensorYaml(sensor)" type="text"
                    class="form-control"/>
            </span>
            <span>
                <label for="sensor-edition-command">Command</label>
                <textarea id="sensor-edition-command" ng-model="sensor.template['brooklyn.config'].command" ng-change="updateSensorYaml(sensor)" 
                class="form-control" auto-grow auto-focus></textarea>
            </span>
        </div>
    </div>
</div>

<!-- CONFIG INFO TEMPLATE :: START -->
<script type="text/ng-template" id="blueprint-composer/component/sensors-list/sensor-info.html" defer-to-preexisting-id="true">
    <div class="config-item-quick-info">
        <div class="quick-info-metadata">
            <p><i class="mini-icon fa fa-fw fa-cog"></i> <samp class="type-symbolic-name">{{sensor.name}}</samp>
                <span class="config-type label-color column-for-type oneline label label-success">{{sensor.type}}</span></p>
        </div>
        <p class="quick-info-description" ng-if="sensor.description">{{sensor.description}}</p>
    </div>
</script>
<!-- CONFIG INFO TEMPLATE :: START-->