<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<div ng-repeat="policy in entity.getPoliciesAsArray()" class="policy-widget">
  <div ng-if='editedPolicy !== policy' ng-click="edit(policy)" title='Click to edit the policy' class="policy-overview-container">
    <img ng-src="{{policy.icon}}" alt="{{policy | entityName}} logo" class="compact-logo"/>
    <span class="policy-name">{{policy.name || policy.miscData.get('typeName')}}</span>
  </div>
  <div class="policy-editor-container" ng-if='editedPolicy === policy'>
    <div class="edit-policy-button pull-right">
      <i class="fa fa-fw fa-trash" title="Delete policy" ng-click="delete(policy)"></i>
      <i class="fa fa-fw fa-times" title="Close editor" ng-click="edit(null)"></i>
    </div>
    <spec-editor model="policy"></spec-editor>
  </div>
</div>
